/***************/
/* Main layout */
/***************/

.app-browser, .app-game-console, .app-game-editor {
    width:1249px;
    
    margin-left: auto;
    margin-right: auto;
}

.eskuel .header-meta {
    margin-top: 20px;
    margin-bottom: 20px;
}

.eskuel .header-meta > li {
    display: inline-flex;
    column-gap: 7px;
}

.eskuel .header-name {
    display: flex;
    align-items: center;
}

.eskual .header-toolbox {
    display: flex;
    column-gap: 20px;
}

.eskuel .widget {
    height: 100%;
}

.eskuel .widget .widget-header {
    font-weight: bold;
}

.eskuel .widget > .card-body {
    overflow: auto;
}

/* Status view */
.eskuel .status-view {
    margin-bottom:10px;
}

.eskuel .last-child {
    margin-bottom: 0;
}


/***********/
/* Browser */
/***********/


/**************************/
/* Browser + Game Console */
/**************************/

.eskuel .widget-query .widget-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
}

.eskuel .query-editor {
    position: relative;
}

.eskuel .query-editor-resize-handlet {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px; 
    cursor: ns-resize; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.eskuel .query-editor-resize-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    cursor: ns-resize;
}

.eskuel .query-editor-resize-handle::after {
    content: "";
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 5px;
    height: 5px;
    border-right: 2px solid rgba(0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0);
}


/**********/
/* Editor */
/**********/

.eskuel .editor {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 3fr 2fr;
    margin-bottom:10px;
}

.eskuel .editor > div {
    min-width: 0; /* This helps in dealing with content overflow */
    max-width: 100%; /* Ensures content does not overflow the grid area */
    overflow: auto; /* Adds scrolling to any div that overflows */
}

.eskuel .editor-meta-data-right .input-group {
    height: 100%;
}

.eskuel .editor-meta-data-title input {
    font-size: 200%;
}

.eskuel .editor-meta-data-title > span, .eskuel .editor-meta-data-copyright > span {
    width:120px;
}

.eskuel .editable-scenes-container > div:first-child { /* Droppable-container */
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.eskuel .editable-scenes-container .editable-scene-view-header p {
    margin-bottom: 0;
}

.eskuel .editor-sidebar {
    display:flex;
    flex-direction: column;
    align-content: flex-start;
    row-gap: 10px;
}

.eskuel .add-scene-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


/****************/
/* Game console */
/****************/

.eskuel .game-header {
    margin-bottom: 10px;
}

.eskuel .game-meta-data-view {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 5fr 7fr;
    margin-bottom:10px;
}

.eskuel .game-meta-data-left > .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap:20px;
}

.eskuel .game-meta-data-title input {
    font-size: 200%;
}

.eskuel .game-meta-data-sub {
    display: flex;
    justify-content: space-between;
}

/* Scene widget */
.eskuel .widget-scene .widget-body {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;

    font-size: 140%;
}

.eskuel .widget-scene button {
    margin-bottom: 5px;
    font-size: 120%;
}

.eskuel .widget-scene img {
    max-width: 100%;
    max-height: 100%;
}

/* Results widget */
.eskuel .widget-results .result-view {
    margin-bottom: 20px;
}

.eskuel .widget-results .result-view-header p {
    margin-bottom: 0;
}

.eskuel .widget-results .results-table-view {
    padding-top: 20px;
    padding-bottom: 20px;
}

.eskuel .widget-results .results-table-view table {
    margin-bottom: 0;
}

.eskuel .widget-results .result-view-explanation {
    padding-top: 20px;
    padding-bottom: 20px;
}


/**********/
/* Modals */
/**********/

.eskuel .modal-body .form-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.eskuel .modal-body .open-file-radio {
    display: inline-flex;
    align-items: center;

    /* padding-right:0; */
    border-top-width: 2px;
}

.eskuel .modal-body .open-file-radio-control {
    margin-top:10px;
}

.eskuel .modal-body .open-file-radio-icon {
    display: flex;
    column-gap: 10px;
    padding: 20px 10px 20px 30px;
}


/*****************/
/* Editor Modals */
/*****************/

.eskuel .choose-scene-type > label {
    display: block;
}

.eskuel .edit-scene-options {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 5px;
    row-gap: 10px;
}

.eskuel .edit-scene-options div {
    min-width: 0;
}


/*****************/
/* Schema widget */
/*****************/

/* Schema widget */
.eskuel .widget-schema .widget-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eskuel .widget-schema .schema-status {
    text-align: center;
    font-style: italic;
}

.eskuel .widget-schema .table-name {
    text-align: right;
    font-weight: bold;

    padding-right: 0;
}

.eskuel .widget-schema .table-cols {
    padding-left: 3px;
}

.eskuel .widget-schema .primary-key {
    text-decoration: underline;    
}

.eskuel .widget-schema .foreign-key {
    font-style: italic;    
}


/**********/
/* Schema */
/**********/

.eskuel .schema {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eskuel .schema .table-name {
    text-align: right;
    font-weight: bold;

    padding-right: 0;
}

.eskuel .schema .table-cols {
    padding-left: 3px;
}

.eskuel .schema .primary-key {
    text-decoration: underline;    
}

.eskuel .schema .foreign-key {
    font-style: italic;    
}


/***********/
/* General */
/***********/

.eskuel .app-name {
    width: 200px;
}

.eskuel .clickable-icon {
    /* margin: -5px; */
    /* padding: 5px; */
    margin-left:7px;

    cursor: pointer;
}

.eskuel .clickable-icon.disabled {
    visibility: hidden;
}

.eskuel .clickable-icon-button {
    /* margin: -5px; */
    /* padding: 5px; */
    /* margin-left:7px; */

    cursor: pointer;
}

.eskuel .clickable-icon-button.disabled {
    visibility: hidden;
}

.eskuel .widget-io > .card-body {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 30% 30%;
}

.eskuel .col-gap-default {
    column-gap: 10px;
}

.eskuel .row-gap-default {
    row-gap: 10px;
}


/**********************/
/* Open and load file */
/**********************/

/* .eskuel .load {
    margin-top:10px;
    margin-bottom:10px;
} */

.eskuel .load-source-panel-status {
    flex: 1 0 auto;

    margin-bottom: 0;
    padding-top:6px;
    padding-bottom:6px;
}


/**********************/
/* Browser and Editor */
/**********************/

.eskuel .tabbed-header {
    padding-left: 0;
    margin-bottom:10px;
    border-bottom: 1px solid #aaa;
}

/**********/
/* Colors */
/**********/


.eskuel .clickable-icon-button {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}


.eskuel .app-browser .header-name  {
    background-color: rgb(155, 184, 205);
}
.eskuel .app-browser .header-toolbox, .eskuel .app-browser .header-home {
    background-color: rgba(155, 184, 205, 0.7);
}
.eskuel .app-browser .clickable-icon-button {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}


.eskuel .app-game-console .header-name  {
    background-color: rgb(238, 199, 89);
}
.eskuel .app-game-console .header-toolbox, .eskuel .app-game-console .header-home {
    background-color: rgb(238, 199, 89, 0.7);
}
.eskuel .app-game-console .clickable-icon-button {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.eskuel .app-game-editor .header-name  {
    background-color: rgb(177, 195, 129);
}
.eskuel .app-game-editor .header-toolbox, .eskuel .app-game-editor .header-home {
    background-color: rgb(177, 195, 129, 0.7);
}
.eskuel .app-game-editor .clickable-icon-button {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}