/***************************************/
/* Common layout mechanisms and styles */
/***************************************/

.scrollableContent {
    height: 100%;
    width: 100%;
    overflow: auto;
}
